@font-face {
    font-family: ancient;
    src:url("../fonts/ancient-medium.ttf");
}

@font-face {
    font-family: ancient;
    src:url("../fonts/ancient-medium.ttf");
}

.ancient{
    font: 80px ancient;
    text-align: center;
}

.ancientSub{
    font: 20px ancient;
    text-align: center;
    font-style: italic;
}

.datasheet{
    font: 16px times new roman, serif;
    font-weight: normal;
}

.chart-title{
    font: 20px times new roman, serif;
    font-weight: normal;
}

.datasheetbg{
     background: #b4bbb4
}

.input-dice-right{
    width: 32px;
    text-align: right;
}

.input-dice-left{
    width: 32px;
    text-align: left;
}

.w3-animate-fading-fast{animation:fading 1s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

body {
    background: #fff;
    text-align: center;
}