/*
Reminder:
When the browser needs to resolve what styles to apply to a given HTML element,
it uses a set of CSS precedence rules. Given these rules,
the browser can determine what styles to apply. The rules are:

!important after CSS properties.
Specificity of CSS rule selectors.
Sequence of declaration. (last has superiority)
*/

/* FONTS */
@font-face {
    font-family: medieval-gothic;
    src:url("../fonts/Iglesia.ttf");  /* 100% free */
}

/* DIVERSE UNUSED*/
@keyframes fading{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}
.shop{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: black;
}
.shop-bg{
    /* middle color is e6a919 */
    background: linear-gradient(to right, #dc9014 0%, #efc11e 100%);
}
.shop-mid-bg{
    background: #e6a919;
}
/* element targets */

body {
    background: #fff;
    text-align: center;
}

footer{
    font-size: 13px;
}

button{
    width: 180px;
    height: 42px;
    text-align: center;
}

sup {
    opacity: 0.5;
}

/* detail definitions */
.greeny-bg {
    background: #c3c8c3;
}

.nowrap {
    white-space: nowrap;
}

.white-bg {
    background: #fff;
}
/* hierarchy class targets */

/* title */
.title{
    font-family: medieval-gothic;
    font-size: 80px;
    text-decoration: none;
}

.title.subscript {
    font-size: 32px;
    font-style: italic;
}

.tipeee {
    text-align: center;
}

/* Login */
.login {
    text-align: right;
    margin-top: 25px;
    margin-right:25px;
}

.login-label{
    font-family: 'Anton', sans-serif;
    font-size: 16px;
}

/* Share */
.share {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 0px;
}

.close {
    height: 25px;
    padding-top: 2px;
    background: #ee5555;
}

.link-modal {
    max-width: 600px;
}

/* inputs */
.input{
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.input-login{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    width: 200px;
    text-align: left;
}

.input-profile-name{
    width: 180px;
    text-align: left;
}
.input-weapon-name{
    width: 160px;
    text-align: left;
}

.input-dice{
    width: 58px;
}

.input-dice.align-right{
    text-align: right;
}

.input-dice.align-left{
    text-align: left;
}


/* table */

table {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


th {
    font-weight: inherit;
}

.datasheet-header{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}


th.weapon-flag {
    color: #000;
    background: #fff;
    text-align: center;
}

th.profile-flag {
    color: #fff;
    text-align: center;
}
.profile-A-bg {
    background: #DC3220;
}
.profile-B-bg {
    background: #0C7BDC;
}

.datasheet-body{
    font-size: 17px;
    font-family: times new roman, serif;
    font-weight: bold;
}

.w3-modal {
    text-align: left;
}

.w3-modal-content {
    min-width: 700px !important;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

.option-select {
    width: 80px;
    height: 25px;
    padding: 0px 0px;
}

.option-inactive{
    color: #999;
    margin-bottom: 3px;
}

.option-active{
    color: #000;
    margin-bottom: 3px;
}

span.tag {
    position:absolute;
    z-index: 1;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

span.param-tag {
    left:-80px;
    bottom:38px;
}

span.weapons-tag {
    left:-64px;
    bottom:38px;
}

span.profile-tag {
    left:58px;
    bottom:-29px;
}


/* Style buttons */
.logo-btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 0px 0px; /* Some padding */
  font-size: 15px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  width: 40px;
  height: 27px;
}

/* Darker background on mouse-over */
.logo-btn:hover {
  background-color: RoyalBlue;
}

/* chart */
.chart{
    min-width: 600px;
}

/* Logging */
.w3-animate-fading-fast{
    animation:fading 1s infinite
}

/* version */
.version {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    text-align: left;
    margin-left:25px;
    margin-top: 25px;
}
/* V9 ready */
.v9 {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    text-align: center;
}

/* ABOUT */
.w3-content{
    max-width: 96%
}

@media (max-width:1080px){
    .w3-quarter{
        width:50%
    }
}

@media (max-width:700px){
    .w3-quarter{
        width:100%
    }
}

